# Nettoyez et analysez votre jeu de données Nettoyez et analysez votre jeu de données

## Nettoyer vos données avec python

### Detecter les erreurs

In [95]:
# import des librairies dont nous aurons besoin
import pandas as pd
import numpy as np
import re

In [96]:
# chargement et affichage des données
data = pd.read_csv("personnes.csv")
display(data)

,prenom,email,date_naissance,pays,taille
0,Leila,leila@example.com,23/01/1990,France,1.49m
1,Samuel,samuel_329@example.com,20/09/2001,NaN,1.67m
2,Radia,choupipoune@supermail.eu,12 sept. 1984,Côte d'ivoire,153cm
3,Marc,"marco23@example.com, mc23@supermail.eu",10/02/1978,France,1.65m
4,Heri,helloworld@supermail.eu,05/03/2008,Madagascar,1.34m
5,Hanna,hanna2019@supermail.eu,01/01/1970,24,3.45m
6,samuël,samuel_329@example.com,NaN,Bénin,1.45m

#### Valeurs manquantes

In [97]:
# Detecter les valeurs manquante (les NULL)
print(data.isnull().sum())

prenom            0
email             0
date_naissance    1
pays              1
taille            0
dtype: int64

#### Doublons

In [98]:
# Detecter les doublons
data.loc[data["email"].duplicated(keep=False), :]

   prenom                   email date_naissance   pays taille
1  Samuel  samuel_329@example.com     20/09/2001    NaN  1.67m
6  samuël  samuel_329@example.com            NaN  Bénin  1.45m

### Traitez les erreurs :

#### Theorie

`# Nouvelle dataframe :`

`data['nom_colonne'] = nouvelle_colonne`

`mask = # condition à vérifier pour cibler spécifiquement certaines lignes`

`data.loc[mask, 'ma_colonne'] = nouvelles_valeurs`

#### Traitez les pays :

In [99]:
display(data["pays"])

0           France
1              NaN
2    Côte d'ivoire
3           France
4       Madagascar
5               24
6            Bénin
Name: pays, dtype: object

- Le probleme etait que il y a la valeur 24 qui ne correspond pas a un pays
- Pour regler cette erreurs nous allons creer un dictionnaire ou nous allons mettre nos pays
- Nous alons donc verifier si le pays correspond ou non a un pays du dictionnaire
- Si il correspond alors tout est bon
- Si ça correspond pas alors on met un ***NaN***

In [100]:
VALID_COUNTRIES = ["France", "Côte d'ivoire", "Madagascar", "Bénin", "Allemagne", "USA"]
mask = ~data["pays"].isin(VALID_COUNTRIES)
data.loc[mask, "pays"] = np.NaN
display(data["pays"])

0           France
1              NaN
2    Côte d'ivoire
3           France
4       Madagascar
5              NaN
6            Bénin
Name: pays, dtype: object

On remarque que la valeur ***24*** qui n'etait pas dans le dictionnaire er devnu la valeur ***Nan***

#### Traitez les e-mails

In [101]:
data["email"]

0                         leila@example.com
1                    samuel_329@example.com
2                  choupipoune@supermail.eu
3    marco23@example.com, mc23@supermail.eu
4                   helloworld@supermail.eu
5                    hanna2019@supermail.eu
6                    samuel_329@example.com
Name: email, dtype: object

Au tour des e-mails, maintenant ! Le problème avec cette colonne, c'est qu'il y a parfois 2 adresses e-mail par ligne. Nous ne souhaitons prendre que la première

In [102]:
data["email"] = data["email"].str.split(",", n=1, expand=True)[0]
display(data["email"])

0           leila@example.com
1      samuel_329@example.com
2    choupipoune@supermail.eu
3         marco23@example.com
4     helloworld@supermail.eu
5      hanna2019@supermail.eu
6      samuel_329@example.com
Name: email, dtype: object

Nous avons plus que un email par ligne

#### Traitez les tailles

In [103]:
display(data["taille"])

0    1.49m
1    1.67m
2    153cm
3    1.65m
4    1.34m
5    3.45m
6    1.45m
Name: taille, dtype: object

On remarque une taille impossible et un taille en cm

Ici nous decidons de garder seulement les taille en m. Et puis de donner les taille manquantes grace a la moyenne des autre tailles. Nous ne faisons pax la conversion cm -> m

In [104]:
data["taille"] = data["taille"].str[:-1]
data["taille"] = pd.to_numeric(data["taille"], errors="coerce")
display(data["taille"])

0    1.49
1    1.67
2     NaN
3    1.65
4    1.34
5    3.45
6    1.45
Name: taille, dtype: float64

In [105]:
data.loc[data["taille"].isnull(), "taille"] = data["taille"].mean()
data["taille"] = data["taille"].round(2)
display(data["taille"])

0    1.49
1    1.67
2    1.84
3    1.65
4    1.34
5    3.45
6    1.45
Name: taille, dtype: float64

On remarque que il rest la taille de 3.45 m 
On va essayrer de la traiter

In [106]:
data.loc[(data["taille"] <= 1.0) | (data["taille"] >= 2.5), "taille"] = data[
    "taille"
].mean()
data["taille"] = data["taille"].round(2)
display(data["taille"])

0    1.49
1    1.67
2    1.84
3    1.65
4    1.34
5    1.84
6    1.45
Name: taille, dtype: float64

On remarque que nous avons remplacer la valeur trop haute

#### Triez les dates

Nous allons spécifier un certain format de date, et transformer notre variable dans un type adéquat. Les formats non adequat vont etre transformer en NaN grace à ***coerce*** comme pour les tailles

In [107]:
data["date_naissance"] = pd.to_datetime(
    data["date_naissance"], format="%d/%m/%Y", errors="coerce"
)
display(data["date_naissance"])

0   1990-01-23
1   2001-09-20
2          NaT
3   1978-02-10
4   2008-03-05
5   1970-01-01
6          NaT
Name: date_naissance, dtype: datetime64[ns]

### Exercice chapitre 2

In [108]:
# importation des données
df_operation = pd.read_csv("operations.csv")
df_operation.head()

,date_operation,libelle,montant,solde_avt_ope,categ
0,2023-03-31,DON XX XX XX XX XX XX XX,-1.44,1515.25,AUTRE
1,2023-04-03,CARTE XX XX RAPT XX,-24.00,1513.81,TRANSPORT
2,2023-04-03,CARTE XX XX RAPT XX,-73.00,1489.81,TRANSPORT
3,2023-04-03,VIREMENT XX XX XX XX XX XX XX XX XX XX XX XX,676.00,1416.81,AUTRE
4,2023-04-03,VIREMENT XX XX XX XX XX XX,4.80,2092.81,AUTRE

<p>Instruction</p>
<blockquote> Plusieurs erreurs se sont glissées dans ce jeu de données. Votre mission, si toutefois vous l'acceptez, va être de les trouver et de proposer des solutions adéquates pour les gérer. Vous aurez besoin dans tous les cas de nettoyer votre fichier avant de passer à la suite !</blockquote>

**Premiere étape : on enleve les doublons**

In [109]:
df_operation = df_operation.loc[df_operation.duplicated(keep="first") == False, :]

**2 : On supprime les nan**

In [110]:
# display(df_operation.loc[df_operation.isnull(),:])
print(df_operation.isnull().sum())

date_operation    0
libelle           0
montant           2
solde_avt_ope     0
categ             1
dtype: int64

- valeur manquante en catégorie : on va mettre autre

- valeur manquante en montant on peut la calculer

In [111]:
# Categ
display(df_operation.loc[df_operation["categ"].isnull(), :])
df_operation.loc[df_operation["categ"].isnull(), "categ"] = "AUTRE"
display(df_operation.loc[df_operation["categ"].isnull(), :])

,date_operation,libelle,montant,solde_avt_ope,categ
156,2023-07-06,PRELEVEMENT XX TELEPHONE XX XX,-36.48,3295.68,NaN

Empty DataFrame
Columns: [date_operation, libelle, montant, solde_avt_ope, categ]
Index: []

On recalculera les montants plus tard lorsqu'on verifiera les calcules

**3: traitez les dates opérations**
- verifier le format
- Si pas le bon format on le rend `null`

In [112]:
pd.to_datetime(df_operation["date_operation"], errors="coerce")

0     2023-03-31
1     2023-04-03
2     2023-04-03
3     2023-04-03
4     2023-04-03
         ...
304   2023-10-05
305   2023-10-05
306   2023-10-06
307   2023-10-06
308   2023-10-06
Name: date_operation, Length: 308, dtype: datetime64[ns]

**4 : Gerer les libellées**

Je ne voit pas d'erreur dans les libellé et je ne vois pas comment les gerer.

**5 : Verifier que le montant avant opertion et le solde concorde**

Il faut verifier $ \forall i \in [\![1:n]\!], \ montant[i]=solde\_avt\_ope[i+1]-solde\_avt\_ope[i]$

In [113]:
array_operation = df_operation.to_numpy()
# montant : [i,2] / solde_avt_ope : [i,3]
for i in range(0, array_operation.shape[0] - 1):
    print(round(array_operation[i + 1, 3] - array_operation[i, 3], 2))
    print(array_operation[i, 2])
    if pd.isna(array_operation[i, 2]):
        array_operation[i, 2] = round(
            array_operation[i + 1, 3] - array_operation[i, 3], 2
        )
    if array_operation[i, 2] != round(
        array_operation[i + 1, 3] - array_operation[i, 3], 2
    ):
        array_operation[i + 1, 3] = round(
            array_operation[i, 2] + array_operation[i, 3], 2
        )

---
0
-1.44
-1.44

---
1
-24.0
-24.0

---
2
-73.0
-73.0

---
3
676.0
676.0

---
4
4.8
4.8

---
5
-14.39
-14.39

---
6
-15.2
-15.2

---
7
-12.0
-12.0

---
8
-7.02
-7.02

---
9
-6.8
-6.8

---
10
-1.84
-1.84

---
11
992.8
992.8

---
12
-24.0
-24.0

---
13
1.6
1.6

---
14
-84.4
-84.4

---
15
-12.42
-12.42

---
16
-6.0
-6.0

---
17
-20.64
-20.64

---
18
-1.6
-1.6

---
19
-42.42
-42.42

---
20
-2.7
-2.7

---
21
836.0
836.0

---
22
-7.56
-7.56

---
23
869.44
869.44

---
24
-48.0
-48.0

---
25
-28.96
-28.96

---
26
-280.0
-280.0

---
27
-1.6
-1.6

---
28
-8.8
-8.8

---
29
-0.8
-0.8

---
30
-345.0
-345.0

---
31
1.6
1.6

---
32
-10.32
-10.32

---
33
-8.72
-8.72

---
34
-24.0
-24.0

---
35
-74.58
-74.58

---
36
-1.7
-1.7

---
37
-13.6
-13.6

---
38
-7.2
-7.2

---
39
-10.43
-10.43

---
40
-7.84
-7.84

---
41
-11.64
-11.64

---
42
-9.2
-9.2

---
43
-32.67
-32.67

---
44
-10.0
-10.0

---
45
-1.9
-1.9

---
46
-9.11
-9.11

---
47
-1.4
-1.4

---
48
-36.0
-36.0

---
49
-12.24
-12.24

---
50
47.2
47.2

---
51
-8.48
-8.48

---
52
-16.7
-16.7

---
53
-10.4
-10.4

---
54
-32.0
-32.0

---
55
-73.0
-73.0

---
56
-14.39
-14.39

---
57
-17.16
-17.16

---
58
676.0
676.0

---
59
-3.48
-3.48

---
60
-1.84
-1.84

---
61
-7.02
-7.02

---
62
-1.6
-1.6

---
63
-1.12
-1.12

---
64
-1.44
-1.44

---
65
-32.0
-32.0

---
66
-9.6
-9.6

---
67
-42.45
-42.45

---
68
-1.6
-1.6

---
69
-5.6
-5.6

---
70
-345.0
-345.0

---
71
-33.55
-33.55

---
72
-11.0
-11.0

---
73
-12.96
-12.96

---
74
-8.0
-8.0

---
75
-1.6
-1.6

---
76
-12.0
-12.0

---
77
-11.4
-11.4

---
78
-32.0
-32.0

---
79
-2.4
-2.4

---
80
-9.72
-9.72

---
81
936.32
936.32

---
82
-138.24
-138.24

---
83
-3.2
-3.2

---
84
-4.41
-4.41

---
85
-7.84
-7.84

---
86
-15.81
-15.81

---
87
-48.0
-48.0

---
88
-14.16
-14.16

---
89
-22.59
-22.59

---
90
-7.74
-7.74

---
91
-6.89
-6.89

---
92
-1.44
-1.44

---
93
-36.0
-36.0

---
94
-73.0
-73.0

---
95
-5.1
-5.1

---
96
-1.84
-1.84

---
97
-14.39
-14.39

---
98
-10.4
-10.4

---
99
676.0
676.0

---
100
-20.4
-20.4

---
101
-6.38
-6.38

---
102
-2.51
-2.51

---
103
-4.63
-4.63

---
104
-5.88
-5.88

---
105
-2.32
-2.32

---
106
-26.58
nan
pb_nan
106

---
107
-9.2
-9.2

---
108
-7.99
-7.99

---
109
-19.2
-19.2

---
110
-15.99
-15.99

---
111
-345.0
-345.0

---
112
-8.0
-8.0

---
113
-4.39
-4.39

---
114
-2.4
-2.4

---
115
-10.2
-10.2

---
116
-18.24
-18.24

---
117
-18.45
-18.45

---
118
-9.31
-9.31

---
119
-29.0
-29.0

---
120
-10.05
-10.05

---
121
-2.72
-2.72

---
122
-8.8
-8.8

---
123
-7.12
-7.12

---
124
-19.84
-19.84

---
125
-19.36
-19.36

---
126
-10.4
-10.4

---
127
-8.0
-8.0

---
128
-6.6
-6.6

---
129
-27.68
-27.68

---
130
-17.2
-17.2

---
131
-29.52
-29.52

---
132
-96.0
-96.0

---
133
-24.48
-24.48

---
134
-183.99
-183.99

---
135
-40.0
-40.0

---
136
-11.44
-11.44

---
137
-10.95
-10.95

---
138
-12.49
-12.49

---
139
-7.12
-7.12

---
140
-23.85
-23.85

---
141
-1.76
-1.76

---
142
-36.0
-36.0

---
143
-19.93
-19.93

---
144
-13.06
-13.06

---
145
-14.39
-14.39

---
146
-1.12
-1.12

---
147
-8.8
-8.8

---
148
-73.0
-73.0

---
149
-48.0
-48.0

---
150
-40.0
-40.0

---
151
-73.0
-73.0

---
152
-602.27
-602.27

---
153
676.0
676.0

---
154
-14.62
-14.62

---
155
-36.48
-36.48

---
156
-1.92
-1.92

---
157
-29.2
-29.2

---
158
-53.1
-53.1

---
159
-1.53
-1.53

---
160
-9.52
-9.52

---
161
-1.08
-1.08

---
162
-14.4
-14.4

---
163
-8.0
-8.0

---
164
-9.88
-9.88

---
165
-345.0
-345.0

---
166
-4.88
-4.88

---
167
-104.0
-104.0

---
168
-12.48
-12.48

---
169
-190.8
-190.8

---
170
-13.6
-13.6

---
171
-6.49
-6.49

---
172
-4.8
-4.8

---
173
-20.8
-20.8

---
174
-9.2
-9.2

---
175
-4.8
-4.8

---
176
-9.6
-9.6

---
177
-32.0
-32.0

---
178
-4.88
-4.88

---
179
-60.16
-60.16

---
180
1071.6
1071.6

---
181
-7.54
-7.54

---
182
-8.14
-8.14

---
183
-11.2
-11.2

---
184
-36.0
-36.0

---
185
-8.0
-8.0

---
186
-32.44
-32.44

---
187
-0.94
-0.94

---
188
-1.44
-1.44

---
189
-23.43
-23.43

---
190
-9.78
-9.78

---
191
-2.4
-2.4

---
192
-2.4
-2.4

---
193
-18.4
-18.4

---
194
-9.82
-9.82

---
195
-75.2
-75.2

---
196
-10.2
-10.2

---
197
676.0
676.0

---
198
-14.39
-15000.0
pb_calc
198

---
199
14975.1
-10.51
pb_calc
199

---
200
14968.41
-17.2
pb_calc
200

---
201
14983.69
-1.92
pb_calc
201

---
202
14984.01
-1.6
pb_calc
202

---
203
14978.15
-7.46
pb_calc
203

---
204
14984.01
-1.6
pb_calc
204

---
205
14974.73
-10.88
pb_calc
205

---
206
14963.88
-21.73
pb_calc
206

---
207
14983.61
-2.0
pb_calc
207

---
208
14978.07
-7.54
pb_calc
208

---
209
14984.65
-0.96
pb_calc
209

---
210
14984.42
-1.19
pb_calc
210

---
211
14984.65
-0.96
pb_calc
211

---
212
14977.61
-8.0
pb_calc
212

---
213
14982.33
-3.28
pb_calc
213

---
214
14968.17
-17.44
pb_calc
214

---
215
14975.21
-10.4
pb_calc
215

---
216
14981.61
-4.0
pb_calc
216

---
217
14982.41
-3.2
pb_calc
217

---
218
14983.21
-2.4
pb_calc
218

---
219
14973.91
-11.7
pb_calc
219

---
220
14640.61
-345.0
pb_calc
220

---
221
14962.41
-23.2
pb_calc
221

---
222
14981.69
-3.92
pb_calc
222

---
223
14931.85
-53.76
pb_calc
223

---
224
14957.5
-28.11
pb_calc
224

---
225
14984.81
-0.8
pb_calc
225

---
226
14983.61
-2.0
pb_calc
226

---
227
14983.61
-2.0
pb_calc
227

---
228
14980.82
-4.79
pb_calc
228

---
229
14983.21
-2.4
pb_calc
229

---
230
14983.93
-1.68
pb_calc
230

---
231
14972.77
-12.84
pb_calc
231

---
232
14975.38
-10.23
pb_calc
232

---
233
14978.49
-7.12
pb_calc
233

---
234
14974.7
-10.91
pb_calc
234

---
235
14984.81
-0.8
pb_calc
235

---
236
14981.83
-3.78
pb_calc
236

---
237
14973.64
-11.97
pb_calc
237

---
238
14979.21
-6.4
pb_calc
238

---
239
14983.6
-2.01
pb_calc
239

---
240
14980.61
-5.0
pb_calc
240

---
241
14973.61
-12.0
pb_calc
241

---
242
14942.01
-43.6
pb_calc
242

---
243
14953.61
-32.0
pb_calc
243

---
244
14956.43
-29.18
pb_calc
244

---
245
14975.81
-9.8
pb_calc
245

---
246
14983.16
-2.45
pb_calc
246

---
247
14983.33
-2.28
pb_calc
247

---
248
14983.17
-2.44
pb_calc
248

---
249
14949.61
-36.0
pb_calc
249

---
250
14959.42
-26.19
pb_calc
250

---
251
14972.02
-13.59
pb_calc
251

---
252
15661.61
676.0
pb_calc
252

---
253
14910.41
-75.2
pb_calc
253

---
254
14975.21
-10.4
pb_calc
254

---
255
14971.22
-14.39
pb_calc
255

---
256
14982.01
-3.6
pb_calc
256

---
257
14984.81
-0.8
pb_calc
257

---
258
14979.22
-6.39
pb_calc
258

---
259
14979.23
-6.38
pb_calc
259

---
260
14983.69
-1.92
pb_calc
260

---
261
14974.49
-11.12
pb_calc
261

---
262
14974.41
-11.2
pb_calc
262

---
263
14981.61
-4.0
pb_calc
263

---
264
14980.04
-5.57
pb_calc
264

---
265
14984.81
-0.8
pb_calc
265

---
266
14984.17
-1.44
pb_calc
266

---
267
14976.01
-9.6
pb_calc
267

---
268
14973.61
nan
pb_nan
268

---
269
-1.44
-1.44

---
270
-9.6
-9.6

---
271
-11.25
-11.25

---
272
-4.0
-4.0

---
273
-19.61
-19.61

---
274
-47.61
-47.61

---
275
-345.0
-345.0

---
276
39.82
39.82

---
277
-20.59
-20.59

---
278
-1.6
-1.6

---
279
-0.96
-0.96

---
280
-5.2
-5.2

---
281
-2.56
-2.56

---
282
-30.37
-30.37

---
283
-8.6
-8.6

---
284
-2.56
-2.56

---
285
-10.45
-10.45

---
286
-4.0
-4.0

---
287
-5.6
-5.6

---
288
-593.6
-593.6

---
289
-8.52
-8.52

---
290
-7.12
-7.12

---
291
-23.33
-23.33

---
292
-9.31
-9.31

---
293
-12.0
-12.0

---
294
-40.0
-40.0

---
295
-2.93
-2.93

---
296
-10.36
-10.36

---
297
-320.0
-320.0

---
298
-1.2
-1.2

---
299
-1.76
-1.76

---
300
-36.0
-36.0

---
301
676.0
676.0

---
302
-67.68
-67.68

---
303
-10.64
-10.64

---
304
-4.8
-4.8

---
305
-1.92
-1.92

---
306
-10.0
-10.0