# Test chapitre 2

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/mnt/c/Users/leonj/Downloads/course+-+Quiz+P2.csv')
data.head()

   Position Sexe     Temps  Dept  Temps_secondes   Age
0         1    M  00:32:23    76          779543  40.0
1         2    M  00:32:40    27          779560  34.0
2         3    M  00:33:15    76          779595  44.0
3         4    M  00:33:23    76          779603  46.0
4         5    M  00:33:29    76          779609  26.0

## Question 1

In [3]:
display(data.loc[(data['Dept']!=76) & (data['Dept']!=27) & (data['Dept']!=14), :])

     Position Sexe     Temps  Dept  Temps_secondes   Age
21         22    M  00:36:22    78          779782  40.0
35         36    M  00:37:31    78          779851  42.0
74         75    M  00:42:06    78          780126  57.0
255       256    M  00:55:08    78          780908  42.0
289       290    F  00:59:09    78          781149  43.0

## Question 2

In [4]:
data.isnull().sum()

Position          0
Sexe              2
Temps             0
Dept              0
Temps_secondes    0
Age               4
dtype: int64

## Question 3

In [5]:
data.loc[pd.to_datetime(data['Temps'],errors='coerce').isnull()==True]

     Position Sexe     Temps  Dept  Temps_secondes   Age
250       251    M  54min47s    27          780887  42.0

## Question 4

C'est regarder dquantativement, j'ai regrader directement dans le tableau grace a vscode

## Question 5

In [8]:
data.loc[data['Position'].duplicated(),:]

Empty DataFrame
Columns: [Position, Sexe, Temps, Dept, Temps_secondes, Age]
Index: []